@import "tailwindcss";

@layer components {
  .animate-scale-in {
    animation: scale-in 0.3s ease-out;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}